apiVersion: v1
kind: Service
metadata:
  name: nginx-spa-svc
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/name: nginx-spa
  sessionAffinity: None
  type: ClusterIP